* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-size: 15px;
   font-family: "Lexend Deca", sans-serif;
   font-weight: 400;
   display: flex;
   overflow-x: hidden;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.grid-container {
   display: grid;
}
@media screen and (min-width: 576px) {
   .grid-container {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (min-width: 777px) {
   .grid-container {
      max-width: 60vw;
      grid-template-columns: repeat(3, 1fr);
   }
}

.grid-container > * {
   padding: 20px;
}
.grid-item1 {
   background-color: hsl(31, 77%, 52%);

   border-radius: 10px 0 0 10px;
}
.grid-item2 {
   background-color: hsl(184, 100%, 22%);
}
.grid-item3 {
   background-color: hsl(179, 100%, 13%);

   border-radius: 0 10px 10px 0;
}
button {
   padding: 8px;
   border: 1px solid hsl(0, 0%, 95%);
   border-radius: 20px;
   margin: 30px 0 10px 0;
}
a {
   text-decoration: none;
   color: hsla(0, 0%, 100%, 0.75);
}
p,
h1 {
   color: hsla(0, 0%, 100%, 0.75);
   padding: 5px;
   margin-top: 10px;
}
h1 {
   font-family: "Big Shoulders Display", cursive;
   font-weight: 700;
}
@media screen and (max-width: 576px) {
   .grid-item1 {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
   }
}
